<h2>Welcome to my board</h2>
  <a href="/posts/new"> Write </a>
    <% @posts.each do |post| %>
    <p>
    Title : <%=post.title%><br>
    Content : <%=post.content%><br>
    <a href="/posts/destroy/<%= post.id %>">Delete</a>
    <a href="/posts/edit/<%= post.id %>">Edit</a>
    <!-- 데이터베이스에서 값을 찾아온다.
    그 값을 수정하고 다시 적용한다. -->
    </p>
    <% end %>
